@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

h1 {
  @apply text-left mt-8 font-RobotoSlab;
}

h2 {
  @apply font-RobotoSlab text-left leading-none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 16px !important; 
  }

  .custom-text-size {
    font-size: 20px !important;
  }

  li {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 34px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  p {
    font-size: 20px !important;
  }

  .custom-text-size {
    font-size: 30px !important;
  }

  li {
    font-size: 20px;
  }
}



.custom-list {
  list-style: none; 
  padding-left: 2rem; 
}

.custom-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #4D4D4D;
  box-sizing: border-box;
  z-index: 1;
}

.custom-list li::after {
  content: '';
  position: absolute;
  left: 0.5rem;
  top: 100%;
  width: 2px;
  height: calc(1rem + 1rem);
  background-color: #4D4D4D;
  z-index: 0; 
}

.custom-list li:last-child::after {
  display: none;
}

body {
  background-color: #ffffff;
}

.checkbox-custom {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(87, 95, 200, 0.2);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.checkbox-custom:checked {
  background-color: #575FC8;
  border-color: #575FC8;
}

.checkbox-custom:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  transform: scale(1);
}

.city-dropdown-scroll {
  max-height: 300px;
  overflow-y: auto;
}

.city-dropdown-scroll::-webkit-scrollbar {
  width: 12px; 
}

.city-dropdown-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(87, 95, 200, 0.8);
  border-radius: 6px;
  border: 3px solid rgba(87, 95, 200, 0.2); 
  transition: background-color 0.3s ease;
}

.city-dropdown-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #575FC8;
}

.city-dropdown-scroll::-webkit-scrollbar-track {
  background-color: rgba(87, 95, 200, 0.2);
  border-radius: 6px;
}

.content-with-breaks br {
  display: inline;
}

p {
  line-height: 1.5 !important;
}

@media (max-width: 768px) {
  .content-with-breaks br {
    display: none;
  }

.desktop-break {
  display: none;
}

@media (min-width: 768px) {
  .desktop-break {
    display: block;
  }
}

}

