@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Bogart';
  src: url('../../public/fonts/../fonts/bogart/Bogart-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart';
  src: url('../../public/fonts/../fonts/bogart/Bogart-Medium-trial.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #ffffff;
}
